<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://172.18.41.86:5173/{R:1}" />
                </rule>
                <rule name="Proxy Backend API" enabled="false" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://172.18.41.87:86/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <proxy enabled="true" preserveHostHeader="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
